/* Please Make only Rhino and Zebra Blue */
#rinbo,
#bestHouse {
  color: blue;
}

/* Please Make only Hufflepuff Gold */
/* section article h2 + h2 
{
    color: gold ;
} */
#bestHouse {
  color: gold;
}

/* Please select Duck with the highest level of specificity possible */
html > head + body >h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100
{
  color: aqua;
}

/* Please select Rhino with the highest level of specificity possible */
.top > #rhino {
  color: brown;
}
