/* Please Make only Rhino and Zebra Blue */
#rinbo, #zebra
{
    color: blue;
}

/* Please Make only Hufflepuff Gold */
#bestHouse
{
    color: gold ;
}
/* #bestHouse
{
    color: gold;
} */

/* Please select Duck with the highest level of specificity possible */
.areDucksDinosaurs > .likesToQuack
{
    color: aqua;
}

/* Please select Rhino with the highest level of specificity possible */
.top > #rhino
{
    color: brown;
}