*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar
{
    background-color: brown;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    height: fit-content;
}