*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.navbar
{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contuiner
{
    padding: 10px 10px;

}
.logoAndSignin
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: auto;

}
.signin i 
{
    padding-right: 5px;
    font-size: 22px;
}
.menu
{
    width: 70%;
    height: auto;

}
.menu ul 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}