* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}

header {
  height: 20vh;
  width: 100%;
  border-bottom: 2px solid black;
}
.section1 {
  height: 20vh;
  width: 100%;
  border-bottom: 2px solid black;
}
.section1 section {
  height: 100%;
  width: 33.333%;
  border-left: 1px solid black;
  float: left;
}

.section2 {
  height: 40vh;
  width: 100%;
  border-bottom: 2px solid black;
}
.section2 section {
  height: 100%;
  width: 50%;
  border-left: 1px solid black;
  float: left;
}
