*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: gray;
}
header
{
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid black;
}

.section1{
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid black;
}
.section1 section
{
    float: left;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
}
.section1 :nth-child(2)
{
    width: 40%;
}