* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
header {
  height: 20vh;
  width: 100%;
  border-bottom: 1px solid black;
}
.section1 {
  height: 20vh;
  width: 100%;
  border-bottom: 1px solid black;
}

.section2 {
  height: 40vh;
  width: 100%;
  border-bottom: 1px solid black;
}
.section2 section
{
    float: left;
    height: 100%;
    width: 30%;
    border-left: 1px solid black;
}


.section2 > section + section
{
    width:70%;
}